<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2"
        data-toggle="modal" data-target="#addEditCredentialModal"
        (click)="addClick()"
        data-backdrop="static" data-keyboard="false"
>
  Crea credenziale
</button>

<!-- Add-Edit Credential Modal -->
<div class="modal fade" id="addEditCredentialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{userAction === 'add' ? 'Aggiungi credenziale' : 'Modifica credenziale'}}</h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Chiudi"
                (click)="closeClick()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-credential [credential]="addEditCredential" [action]="userAction" ></app-add-edit-credential>
      </div>
    </div>
  </div>
</div>
<!-- Add-Edit Credential Modal -->


<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Email</th>
    <th>Tipo</th>
    <th>Abilitazione</th>
    <th>Opzioni</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataItem of CredentialList">
    <td>{{dataItem.id}}</td>
    <td>{{dataItem.username}}</td>
    <td>{{dataItem.name}}</td>
    <td>{{dataItem.surname}}</td>
    <td>{{dataItem.mail}}</td>
    <td>{{typeNumToString(dataItem.type)}}</td>
    <td>{{typeNumToString1(dataItem.archived)}}</td>
    <td>
      <button type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg></button>
      <button type="button" class="btn btn-primary float-right m-2"
              data-toggle="modal" data-target="#addEditCredentialModal"
              (click)="editClick(dataItem)"
              data-backdrop="static" data-keyboard="false"
      >
        M
      </button>
    </td>
  </tr>
  </tbody>

</table>
