<div class="form-froup row">

  <label class="col-sm-2 col-form-label">Workstation</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="workstationname"
           placeholder="Enter Workstation Name">
    <input type="text" class="form-control" [(ngModel)]="xworkstation"
           placeholder="Enter Workstation X">
    <input type="text" class="form-control" [(ngModel)]="yworkstation"
           placeholder="Enter Workstation Y">
    <input type="text" class="form-control" [(ngModel)]="idroom"
           placeholder="Enter IdRoom">
    <input type="text" class="form-control" [(ngModel)]="state"
           placeholder="Enter State">
  </div>
</div>

<button (click)="addWorkstation()" class="btn btn-primary">
  Add
</button>
