<div class="form-froup row">

  <label class="col-sm-2 col-form-label">Postazione</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="tag"
           placeholder="Inserire il tag">
    <input type="text" class="form-control" [(ngModel)]="workstationname"
           placeholder="Inserire il nome">
    <input type="text" class="form-control" [(ngModel)]="xworkstation"
           placeholder="Inserire la posizione x">
    <input type="text" class="form-control" [(ngModel)]="yworkstation"
           placeholder="Inserire la posizione y">
    <fieldset *ngIf="action === 'edit'">
      <div class="from-check">
        <input id="checkbox1" type="checkbox" class="form-check-input" [(ngModel)]="stateIsBroken">
        <label for="checkbox1" class="form-check-label">Inaccessibile</label>
      </div>
      <div *ngIf="stateIsBroken">
        <label for="startDate">Data inizio</label>
        <input id="startDate" type="date"  [(ngModel)]="startDate">
        <label for="endDate">Data fine</label>
        <input id="endDate" type="date" [(ngModel)]="endDate">
      </div>
    </fieldset>
  </div>
</div>

<button (click)="takeAction()" class="btn btn-primary">
  {{action === 'add' ? 'Aggiungi' : 'Conferma valori'}}
</button>
