<button type="button" class="btn btn-primary float-right m-2"
        data-toggle="modal" data-target="#searchModal"

        data-backdrop="static" data-keyboard="false">
  Search Workstation
</button>

<button type="button" class="btn btn-primary float-right m-2"
        data-toggle="modal" data-target="#addRoomModal"
        data-backdrop="static" data-keyboard="false">
  Add Room
</button>

<!-- Search Occupations Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelNew">Search Occupations Workstations</h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- non so ?-->
        <div class="form-froup row">

          <label class="col-sm-2 col-form-label">Occupations</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="searchId"
                   placeholder="Enter Workstation ID">
            <input type="text" class="form-control" [(ngModel)]="searchUsername"
                   placeholder="Enter Username">
          </div>


        </div>

        <button (click)="searchOccupation()" class="btn btn-primary">
          Search
        </button>
        <button (click)="resetFilter()" class="btn btn-primary">
          Reset filter
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Search Occupations Modal -->

<!-- Add Room Modal -->
<div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRoomModalLabel">Add room</h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
        (click)="closeAddRoom()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-room ></app-add-edit-room>
      </div>
    </div>
  </div>
</div>
<!-- Add Room Modal -->

<!-- Add-Edit Modal -->
<div class="modal fade" id="addEditWorkstationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add workstation</h5>
        <button type="button" class="close"
                (click)="closeAddWorkstation()"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-workstation [passedWorkstation]="addEditWorkstation" ></app-add-edit-workstation>
      </div>
    </div>
  </div>
</div>
<!-- Add-Edit Modal -->

<table class="table table-striped" >
  <thead>
  <tr>
    <th>Rooms</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let key of roomsMap.keys()">

    <h3>RoomId: {{key}} | RoomName: {{getRoomInfoById(key).roomname}} | RoomDimensions: {{getRoomInfoById(key).xroom}}x{{getRoomInfoById(key).yroom}}</h3>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-right m-2"
            data-toggle="modal" data-target="#addEditWorkstationModal"
            data-backdrop="static" data-keyboard="false"
            (click)="openAddWorkstation(key)">
      Add Workstation
    </button>

    <button type="button" class="btn btn-primary float-right m-2"
    (click)="deleteRoom(key)">
      Remove Room
    </button>



    <table class="table table-striped" >
      <thead>
      <tr>
        <th>WorkstationID</th>
        <th>WorkstationTag</th>
        <th>WorkstationName</th>
        <th>WorkstationX</th>
        <th>WorkstationY</th>
        <th>Status</th>
        <th>Sanitized</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataItem of roomsMap.get(key)">
        <td>{{dataItem.id}}</td>
        <th>{{dataItem.tag}}</th>
        <td>{{dataItem.workstationname}}</td>
        <td>{{dataItem.xworkstation}}</td>
        <td>{{dataItem.yworkstation}}</td>
        <td>{{dataItem.state}}</td>
        <td>{{dataItem.sanitized}}</td>
        <td>
          <button type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg></button>
        </td>
      </tr>
      </tbody>

    </table>
  </tr>
  </tbody>

</table>

