<div class="form-froup row">

  <label class="col-sm-2 col-form-label">Room</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="roomname"
           placeholder="Enter Room Name">
    <input type="text" class="form-control" [(ngModel)]="xroom"
           placeholder="Enter Room X dimension">
    <input type="text" class="form-control" [(ngModel)]="yroom"
           placeholder="Enter Room Y dimension">
  </div>
</div>

<button (click)="takeAction()" class="btn btn-primary">
  {{action === 'add' ? 'Add' : 'Confirm values'}}
</button>

