<div class="form-froup row">

  <label class="col-sm-2 col-form-label">Stanza</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="roomname"
           placeholder="Inserire nome">
    <input type="text" class="form-control" [(ngModel)]="xroom"
           placeholder="Inserire dimensione x">
    <input type="text" class="form-control" [(ngModel)]="yroom"
           placeholder="Inserire dimensione y">
    <fieldset *ngIf="action === 'edit'">
      <legend>Impostazione stato inaccessibile</legend>
      <div class="from-check">

        <input id="checkbox1" type="checkbox" class="form-check-input" [(ngModel)]="unavailable">
        <label for="checkbox1" class="form-check-label">Inaccessibile</label>
      </div>
      <div *ngIf="unavailable" id="roomUnavailabilityFields">
        <label for="startDate">Data inizio</label>
        <input id="startDate" type="date"  [(ngModel)]="startDate">
        <label for="endDate">Data fine</label>
        <input id="endDate" type="date" [(ngModel)]="endDate">
      </div>
    </fieldset>
  </div>
</div>

<button (click)="takeAction()" class="btn btn-primary">
  {{action === 'add' ? 'Aggiungi' : 'Conferma valori'}}
</button>

