<div class="form-froup row">

  <label class="col-sm-2 col-form-label">Credenziale</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="name"
           placeholder="Inserire Nome">
    <input type="text" class="form-control" [(ngModel)]="surname"
           placeholder="Inserire Cognome">
    <input type="text" class="form-control" [(ngModel)]="username"
           placeholder="Inserire Username">
    <input type="text" class="form-control" [(ngModel)]="mail"
           placeholder="Inserire Email">
    <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="type">
      <option selected value="0">Amministratore</option>
      <option value="1">Dipendente</option>
      <option value="2">Addetto</option>
    </select>
    <!--<input type="text" class="form-control" [(ngModel)]="type"
           placeholder="Inserire Tipo">-->
    <input type="text" class="form-control" [(ngModel)]="password"
           placeholder="Inserire Password">
  </div>
</div>

<button (click)="takeAction()" class="btn btn-primary">
  {{action === 'add' ? 'Aggiungi' : 'Conferma valori'}}
</button>
