<div class="form-froup row">

  <label class="col-sm-2 col-form-label">Credential</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="Name"
           placeholder="Enter Name">
    <input type="text" class="form-control" [(ngModel)]="Surname"
           placeholder="Enter Surname">
    <input type="text" class="form-control" [(ngModel)]="Username"
           placeholder="Enter Username">
    <input type="text" class="form-control" [(ngModel)]="Email"
           placeholder="Enter Email">
    <input type="text" class="form-control" [(ngModel)]="Type"
           placeholder="Enter Type">
    <input type="text" class="form-control" [(ngModel)]="Password"
           placeholder="Enter Password">
  </div>
</div>

<button (click)="addCredential()" class="btn btn-primary">
  Add
</button>
