/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.longstring {
  word-break: break-all;
}
